## Introduction/Business Problem ##

Vision Zero – to reduce road deaths to almost zero by 2050 - is one goal of the European Union. There are many aspects und factors which can lead to an accidents. One big factor is the weather and the related conditions. 

With available data like weather forecasts, road conditions and the light conditions, it could be possible to warn drivers in order to avoid potential accidents. Since data is real-time available, it would be helpful f there would be a ML-model which could use these parameters in order to predict an accident probaility and severity. Car manufacturer, public health organisations, insurance comanies could be interested in such a model.

# Data Understanding ##

In this Notebook the suggested data from Coursera was used. This data set includes a huge variety of data. Since the explained objective of this Business Problem is to detect the relation between Weather conditions and severity of accidents, most of the data is not relevant for this use case. It will be evaluated, how big is the impact between the attributes Road conditions, Weather conditionn and light conditions and the accident severity. 
According to the first methods for an initial overview, the data set is 194673 rows and 38 attributs / columns big. In the following lines, the data quality will be evaluated and refined if needed. The target variable severity code is inbalanced, since severity level 1 is 2.5 times more reprensented within the data than severity level2. 

Data will be prepared for modeling --> will be three classification models under evaluation: Decision Tree, kNN, .

## Data Wrangling ##

In [1]:
#import libraries and read data
import numpy as np
import pandas as pd

df=pd.read_csv("https://s3.us.cloud-object-storage.appdomain.cloud/cf-courses-data/CognitiveClass/DP0701EN/version-2/Data-Collisions.csv")
df.head()

/opt/conda/envs/Python36/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (33) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,SEVERITYCODE,X,Y,OBJECTID,INCKEY,COLDETKEY,REPORTNO,STATUS,ADDRTYPE,INTKEY,...,ROADCOND,LIGHTCOND,PEDROWNOTGRNT,SDOTCOLNUM,SPEEDING,ST_COLCODE,ST_COLDESC,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR
0,2,-122.323148,47.703140,1,1307,1307,3502005,Matched,Intersection,37475.0,...,Wet,Daylight,NaN,NaN,NaN,10,Entering at angle,0,0,N
1,1,-122.347294,47.647172,2,52200,52200,2607959,Matched,Block,NaN,...,Wet,Dark - Street Lights On,NaN,6354039.0,NaN,11,From same direction - both going straight - bo...,0,0,N
2,1,-122.334540,47.607871,3,26700,26700,1482393,Matched,Block,NaN,...,Dry,Daylight,NaN,4323031.0,NaN,32,One parked--one moving,0,0,N
3,1,-122.334803,47.604803,4,1144,1144,3503937,Matched,Block,NaN,...,Dry,Daylight,NaN,NaN,NaN,23,From same direction - all others,0,0,N
4,2,-122.306426,47.545739,5,17700,17700,1807429,Matched,Intersection,34387.0,...,Wet,Daylight,NaN,4028032.0,NaN,10,Entering at angle,0,0,N

In [2]:
#get overview with different methods & functions
df.describe()

,SEVERITYCODE,X,Y,OBJECTID,INCKEY,COLDETKEY,INTKEY,SEVERITYCODE.1,PERSONCOUNT,PEDCOUNT,PEDCYLCOUNT,VEHCOUNT,SDOT_COLCODE,SDOTCOLNUM,SEGLANEKEY,CROSSWALKKEY
count,194673.000000,189339.000000,189339.000000,194673.000000,194673.000000,194673.000000,65070.000000,194673.000000,194673.000000,194673.000000,194673.000000,194673.000000,194673.000000,1.149360e+05,194673.000000,1.946730e+05
mean,1.298901,-122.330518,47.619543,108479.364930,141091.456350,141298.811381,37558.450576,1.298901,2.444427,0.037139,0.028391,1.920780,13.867768,7.972521e+06,269.401114,9.782452e+03
std,0.457778,0.029976,0.056157,62649.722558,86634.402737,86986.542110,51745.990273,0.457778,1.345929,0.198150,0.167413,0.631047,6.868755,2.553533e+06,3315.776055,7.226926e+04
min,1.000000,-122.419091,47.495573,1.000000,1001.000000,1001.000000,23807.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.007024e+06,0.000000,0.000000e+00
25%,1.000000,-122.348673,47.575956,54267.000000,70383.000000,70383.000000,28667.000000,1.000000,2.000000,0.000000,0.000000,2.000000,11.000000,6.040015e+06,0.000000,0.000000e+00
50%,1.000000,-122.330224,47.615369,106912.000000,123363.000000,123363.000000,29973.000000,1.000000,2.000000,0.000000,0.000000,2.000000,13.000000,8.023022e+06,0.000000,0.000000e+00
75%,2.000000,-122.311937,47.663664,162272.000000,203319.000000,203459.000000,33973.000000,2.000000,3.000000,0.000000,0.000000,2.000000,14.000000,1.015501e+07,0.000000,0.000000e+00
max,2.000000,-122.238949,47.734142,219547.000000,331454.000000,332954.000000,757580.000000,2.000000,81.000000,6.000000,2.000000,12.000000,69.000000,1.307202e+07,525241.000000,5.239700e+06

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 194673 entries, 0 to 194672
Data columns (total 38 columns):
SEVERITYCODE      194673 non-null int64
X                 189339 non-null float64
Y                 189339 non-null float64
OBJECTID          194673 non-null int64
INCKEY            194673 non-null int64
COLDETKEY         194673 non-null int64
REPORTNO          194673 non-null object
STATUS            194673 non-null object
ADDRTYPE          192747 non-null object
INTKEY            65070 non-null float64
LOCATION          191996 non-null object
EXCEPTRSNCODE     84811 non-null object
EXCEPTRSNDESC     5638 non-null object
SEVERITYCODE.1    194673 non-null int64
SEVERITYDESC      194673 non-null object
COLLISIONTYPE     189769 non-null object
PERSONCOUNT       194673 non-null int64
PEDCOUNT          194673 non-null int64
PEDCYLCOUNT       194673 non-null int64
VEHCOUNT          194673 non-null int64
INCDATE           194673 non-null object
INCDTTM           194673 non-null object
JUNCTIONTYPE      188344 non-null object
SDOT_COLCODE      194673 non-null int64
SDOT_COLDESC      194673 non-null object
INATTENTIONIND    29805 non-null object
UNDERINFL         189789 non-null object
WEATHER           189592 non-null object
ROADCOND          189661 non-null object
LIGHTCOND         189503 non-null object
PEDROWNOTGRNT     4667 non-null object
SDOTCOLNUM        114936 non-null float64
SPEEDING          9333 non-null object
ST_COLCODE        194655 non-null object
ST_COLDESC        189769 non-null object
SEGLANEKEY        194673 non-null int64
CROSSWALKKEY      194673 non-null int64
HITPARKEDCAR      194673 non-null object
dtypes: float64(4), int64(12), object(22)
memory usage: 56.4+ MB

daytime und uhrzeit umwandeln

In [4]:
df.shape

(194673, 38)

In [5]:
df["WEATHER"].value_counts()

Clear                       111135
Raining                      33145
Overcast                     27714
Unknown                      15091
Snowing                        907
Other                          832
Fog/Smog/Smoke                 569
Sleet/Hail/Freezing Rain       113
Blowing Sand/Dirt               56
Severe Crosswind                25
Partly Cloudy                    5
Name: WEATHER, dtype: int64

In [6]:
df["ROADCOND"].value_counts()

Dry               124510
Wet                47474
Unknown            15078
Ice                 1209
Snow/Slush          1004
Other                132
Standing Water       115
Sand/Mud/Dirt         75
Oil                   64
Name: ROADCOND, dtype: int64

In [7]:
df["LIGHTCOND"].value_counts()

Daylight                    116137
Dark - Street Lights On      48507
Unknown                      13473
Dusk                          5902
Dawn                          2502
Dark - No Street Lights       1537
Dark - Street Lights Off      1199
Other                          235
Dark - Unknown Lighting         11
Name: LIGHTCOND, dtype: int64

In [30]:
df["SEVERITYCODE"].value_counts()

1    136485
2     58188
Name: SEVERITYCODE, dtype: int64

In [8]:
df_acc=df[["SEVERITYCODE", "WEATHER", "ROADCOND", "LIGHTCOND"]]

In [9]:
df_acc.head()

   SEVERITYCODE   WEATHER ROADCOND                LIGHTCOND
0             2  Overcast      Wet                 Daylight
1             1   Raining      Wet  Dark - Street Lights On
2             1  Overcast      Dry                 Daylight
3             1     Clear      Dry                 Daylight
4             2   Raining      Wet                 Daylight

In [10]:
# see if there is missing data

missing_data = df_acc.isnull()
missing_data["SEVERITYCODE"].value_counts()

False    194673
Name: SEVERITYCODE, dtype: int64

In [11]:
missing_data["WEATHER"].value_counts()

False    189592
True       5081
Name: WEATHER, dtype: int64

In [12]:
missing_data["ROADCOND"].value_counts()

False    189661
True       5012
Name: ROADCOND, dtype: int64

In [13]:
missing_data["LIGHTCOND"].value_counts()

False    189503
True       5170
Name: LIGHTCOND, dtype: int64

In [14]:
#check if the NaN Cells are mixed up within the coulmns or not
missing_data.loc[missing_data['ROADCOND']]

        SEVERITYCODE  WEATHER  ROADCOND  LIGHTCOND
15             False     True      True       True
36             False     True      True       True
53             False     True      True       True
60             False     True      True       True
75             False     True      True       True
118            False     True      True       True
128            False     True      True       True
132            False     True      True       True
139            False     True      True       True
147            False     True      True       True
174            False     True      True       True
201            False     True      True       True
212            False     True      True       True
217            False     True      True       True
230            False     True      True       True
239            False     True      True       True
253            False     True      True       True
286            False     True      True       True
293            False     True      True       True
294            False     True      True       True
302            False     True      True       True
332            False     True      True       True
334            False     True      True       True
348            False     True      True       True
360            False     True      True       True
366            False     True      True       True
377            False     True      True       True
387            False     True      True       True
422            False     True      True       True
425            False     True      True       True
...              ...      ...       ...        ...
194362         False     True      True       True
194373         False     True      True       True
194393         False     True      True       True
194399         False     True      True       True
194403         False     True      True       True
194413         False     True      True       True
194422         False     True      True       True
194440         False     True      True       True
194447         False     True      True       True
194448         False     True      True       True
194468         False     True      True       True
194479         False     True      True       True
194496         False     True      True       True
194500         False     True      True       True
194506         False     True      True       True
194516         False     True      True       True
194535         False     True      True       True
194543         False     True      True       True
194546         False     True      True       True
194563         False     True      True       True
194572         False     True      True       True
194584         False     True      True       True
194598         False     True      True       True
194600         False     True      True       True
194612         False     True      True       True
194620         False     True      True       True
194625         False     True      True       True
194646         False     True      True       True
194654         False     True      True       True
194655         False     True      True       True

[5012 rows x 4 columns]

In [15]:
#Since most of the missing rows, where there is a missing value, also the other values are NaN, i will drop those cells.

df_new=df_acc.drop([], axis=0)

In [16]:
df_new

        SEVERITYCODE   WEATHER ROADCOND                LIGHTCOND
0                  2  Overcast      Wet                 Daylight
1                  1   Raining      Wet  Dark - Street Lights On
2                  1  Overcast      Dry                 Daylight
3                  1     Clear      Dry                 Daylight
4                  2   Raining      Wet                 Daylight
5                  1     Clear      Dry                 Daylight
6                  1   Raining      Wet                 Daylight
7                  2     Clear      Dry                 Daylight
8                  1     Clear      Dry                 Daylight
9                  2     Clear      Dry                 Daylight
10                 1  Overcast      Dry                 Daylight
11                 1     Clear      Dry                 Daylight
12                 1   Raining      Wet  Dark - Street Lights On
13                 1   Raining      Wet  Dark - No Street Lights
14                 2     Clear      Dry  Dark - Street Lights On
15                 1       NaN      NaN                      NaN
16                 2  Overcast      Dry                 Daylight
17                 1  Overcast      Dry                 Daylight
18                 2     Clear      Dry                 Daylight
19                 1   Unknown      Dry                  Unknown
20                 2     Clear      Dry  Dark - Street Lights On
21                 2     Clear      Dry                 Daylight
22                 1     Clear      Dry  Dark - Street Lights On
23                 1   Unknown  Unknown                  Unknown
24                 2     Clear      Dry                 Daylight
25                 2     Clear      Dry                 Daylight
26                 1  Overcast      Wet                  Unknown
27                 1     Clear      Dry                 Daylight
28                 1     Clear      Dry                 Daylight
29                 1     Clear      Dry                 Daylight
...              ...       ...      ...                      ...
194643             1     Clear      Dry  Dark - Street Lights On
194644             1     Clear      Dry                     Dusk
194645             2     Clear      Dry  Dark - Street Lights On
194646             1       NaN      NaN                      NaN
194647             2   Raining      Wet                     Dusk
194648             1   Raining      Wet  Dark - Street Lights On
194649             2     Clear      Dry  Dark - Street Lights On
194650             2     Clear      Dry                 Daylight
194651             1     Clear      Wet  Dark - Street Lights On
194652             1  Overcast      Wet                     Dusk
194653             2  Overcast      Wet  Dark - Street Lights On
194654             1       NaN      NaN                      NaN
194655             2       NaN      NaN                      NaN
194656             2     Clear      Dry                 Daylight
194657             1   Raining      Wet  Dark - Street Lights On
194658             1   Raining      Wet  Dark - Street Lights On
194659             1   Raining      Wet  Dark - Street Lights On
194660             2   Raining      Wet                    Other
194661             2     Clear      Dry                 Daylight
194662             1     Clear      Dry                     Dusk
194663             2   Raining      Wet                 Daylight
194664             1     Clear      Dry                 Daylight
194665             1     Clear      Dry                 Daylight
194666             2     Clear      Wet                 Daylight
194667             1   Raining      Wet  Dark - Street Lights On
194668             2     Clear      Dry                 Daylight
194669             1   Raining      Wet                 Daylight
194670             2     Clear      Dry                 Daylight
194671             2     Clear      Dry                     Dusk
194672             1     Clear      Wet                 Daylight

[194673 rows x 4 columns]

In [22]:
df_new['WEATHER'] = df_new['WEATHER'].astype('category')
df_new['ROADCOND'] = df_new['ROADCOND'].astype('category')
df_new['LIGHTCOND'] = df_new['LIGHTCOND'].astype('category')

df_new['WEATHER_CODE'] = df_new['WEATHER'].cat.codes
df_new['ROADCOND_CODE'] = df_new['ROADCOND'].cat.codes
df_new['LIGHTCOND_CODE'] = df_new['LIGHTCOND'].cat.codes

In [23]:
df_final=df_new

In [24]:
df_final.head()

,SEVERITYCODE,WEATHER,ROADCOND,LIGHTCOND,WEATHER_CODE,ROADCOND_CODE,LIGHTCOND_CODE
0,2,Overcast,Wet,Daylight,4,8,5
1,1,Raining,Wet,Dark - Street Lights On,6,8,2
2,1,Overcast,Dry,Daylight,4,0,5
3,1,Clear,Dry,Daylight,1,0,5
4,2,Raining,Wet,Daylight,6,8,5

In [25]:
df_final.drop(['WEATHER', 'ROADCOND', 'LIGHTCOND'], axis=1)

        SEVERITYCODE  WEATHER_CODE  ROADCOND_CODE  LIGHTCOND_CODE
0                  2             4              8               5
1                  1             6              8               2
2                  1             4              0               5
3                  1             1              0               5
4                  2             6              8               5
5                  1             1              0               5
6                  1             6              8               5
7                  2             1              0               5
8                  1             1              0               5
9                  2             1              0               5
10                 1             4              0               5
11                 1             1              0               5
12                 1             6              8               2
13                 1             6              8               0
14                 2             1              0               2
15                 1            -1             -1              -1
16                 2             4              0               5
17                 1             4              0               5
18                 2             1              0               5
19                 1            10              0               8
20                 2             1              0               2
21                 2             1              0               5
22                 1             1              0               2
23                 1            10              7               8
24                 2             1              0               5
25                 2             1              0               5
26                 1             4              8               8
27                 1             1              0               5
28                 1             1              0               5
29                 1             1              0               5
...              ...           ...            ...             ...
194643             1             1              0               2
194644             1             1              0               6
194645             2             1              0               2
194646             1            -1             -1              -1
194647             2             6              8               6
194648             1             6              8               2
194649             2             1              0               2
194650             2             1              0               5
194651             1             1              8               2
194652             1             4              8               6
194653             2             4              8               2
194654             1            -1             -1              -1
194655             2            -1             -1              -1
194656             2             1              0               5
194657             1             6              8               2
194658             1             6              8               2
194659             1             6              8               2
194660             2             6              8               7
194661             2             1              0               5
194662             1             1              0               6
194663             2             6              8               5
194664             1             1              0               5
194665             1             1              0               5
194666             2             1              8               5
194667             1             6              8               2
194668             2             1              0               5
194669             1             6              8               5
194670             2             1              0               5
194671             2             1              0               6
194672             1             1              8               5

[194673 rows x 4 columns]

In [19]:
df_final.columns

Index(['SEVERITYCODE', 'WEATHER', 'ROADCOND', 'LIGHTCOND', 'WEATHER_CODE',
       'ROADCOND_CODE', 'LIGHTCOND_CODE'],
      dtype='object')

## Building Model ##

In [20]:
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

In [26]:
y= df_final['SEVERITYCODE'].values
x= df_final[['WEATHER_CODE',
       'ROADCOND_CODE', 'LIGHTCOND_CODE']]

X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=4)
neigh = KNeighborsClassifier(n_neighbors = 7).fit(X_train,y_train)

In [ ]:
    yhat = neigh.predict(X_test)
    metrics.accuracy_score(y_test, yhat

In [28]:
from sklearn.tree import DecisionTreeClassifier